*.class 
*.iml 
*.ipr 
*.iws 
.idea 
.cache/ 
.history/ 
.lib/ 
dist/* 
target/ 
libexec/ 
lib_managed/ 
src_managed/ 
project/boot/ 
project/plugins/project/ 
project/project/ 
project/target/ 
.scala_dependencies 
.worksheet 
../.DS_Store 
spark-warehouse/ 
metastore_db 
overrides.conf 
.DS_Store 
project/project 
.sconsign.dblite 
.gradle 
build/ 
.project 

